@import url('global.css');

._container{
    height: 38.625rem;   /* login 618px */
}

#login{
    margin: .3125rem 0.25rem .1875rem 0.25rem;
    background-color: #ffffff;
    border-radius: .5rem;
     box-shadow: 0px .125rem .25rem rgba(10, 15, 26, 0.05);
}

#signup{
    margin: .3125rem 0.25rem .1875rem 0.25rem;
    background-color: #f3f4f6;
    border-radius: .5rem;
}

._container__form___buttons____button a{
    text-decoration: none;
    color: var(--base-font-color);
    
}