@import url(/assets/CSS/global.css);
@import url(/assets/CSS/reset.css);

.dashboard_container {
    box-sizing: border-box;
    max-width: 69.375rem;
    padding: 2rem;
}

.dashboard_title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: .25rem;
    color: #000;
}

.dashboard_about {
    font-size: 1rem;
    font-weight: 400;
    color: #697282;
    margin-bottom: 33px;
}

.card_five{
    box-sizing: border-box;
    max-width: 31.5rem;
    border: 1px solid #EEF2FF;
    padding: 1.5rem 1.5rem 11.1875rem 1.5rem;
    border-radius: .75rem;
    background-color: white;
}

.card_five_title {
    color: #1E293B;
    font-size: 1rem;
    font-weight: 400;
}

.card_five_image{
    display: block;
    margin: 0 auto;
    margin-bottom: 1.125rem;
}

.card_five_p {
    text-align: center;
    color: #6A7282;
    font-size: .875rem;
    font-weight: 400;
}

.flex {
    display: flex;
    gap: 10px;
    margin-bottom: 4.25rem;
}

._grid{
    display: grid;
    grid-template: 11rem 21.6875rem/repeat(4, 1fr);
    grid-row-gap: 35px;
    grid-column-gap: 25px;
    align-items: flex-start;
}

.card_one {
    grid-column: 1/2;
}

.card_two {
    grid-column: 2/3;
}

.card_three {
    grid-column: 3/4;
}

.card_four{
    grid-column: 4/5;
}

.card_five {
    grid-column: 1/3;
   
}

.card_six {
    grid-column: 3/5;
}

/* recent task template */
.user-recent_task,
.recent-task_info,
.recent-task_level {
    display: flex;
    align-items: center;
}

.user-recent_task {
    justify-content: space-between;
}

.user-Recent {
    width: 28.375rem;
    border: 1px solid #EEF2FF;
    padding: .8125rem;
    box-sizing: border-box;
    border-radius: .5rem;

}

.recent-task_title {
    font-size: .875rem;
    color: #101828;
    margin-bottom: 8px;
    font-weight: 400;
}

.recent-task_date {
    font-size: .75rem;
    color: #6A7282;
    font-weight: 400;
}

.recent-task_level {
    border: 1px solid #D08700;
    border-radius: 8px;
    width: 62px;
    height: 26px;
    color: #D08700;
    font-size: .75rem;
    align-items: center;
    justify-content: center;
}

.recent-task_info {
    gap: .75rem;
}