@import url('/assets/CSS/global.css');
.nav_card_container{
    box-sizing: border-box;
    max-width: 13.9375rem;
    height: 2.25rem;
    background-color: #eef2ff;
    border-radius: .375rem;
    display: flex;
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: space-between;
    gap: 8px;
    cursor: default;
    transition: 0.3s;
    /* padding-top: .25rem; */
    
}


.nav_card_container:hover .nav_card_container__logos{
    color: #ffffff;
}


.nav_card_container:hover .nav_card_container__headings{
    color: #ffffff;
}

.nav_card_container .active{
     color: #4f39f6;
}

.nav_card_container__logos{
    display: inline-block;
    color: #000;
    margin: 0.5rem;
    /* width: .875rem;
    height: .875rem; */
     flex-shrink: 0;
}

.nav_card_container__headings{
    color: #000;
    margin: .5rem 7.375rem .5rem 0;
    font-weight: 500;
    /* margin-bottom: .5rem;
    margin-right: 7.375rem; */
    /* margin: .5rem 7.375rem .5rem 2.5rem; */
}



   
