<link href="/Components/task_card/task_card.css" rel="stylesheet">

<div class="task_card_container">
    <div class="task_card__content">
        <p class="task_card___content_title">Active Tasks</p>
        <p class="task_card___img_conatainer"><img src="/Components/task_card/task_images/tasks icon.svg" alt="tick icon" class="image"></p>
    </div>

    <div class="task_card__amount">
        <p class="task_card___amount_num">0</p>
        <p class="task_card___amount_comment">0 completed</p>
    </div>
</div>