.task_card_container {
    max-width: 15rem;
    height: 11rem;
    border: .0625rem solid #EEF2FF;
    border-radius: .75rem;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.task_card_container:hover, .task_card_container:focus{
    box-shadow: 0 .3125rem .3125rem grey;
    opacity: .8;
}

.task_card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_card___content_title {
    font-weight: 500;
    font-size: .875rem;
    color: black;
}

.task_card___img_conatainer {
    padding: .5rem;
    border-radius: .5rem;
    background-color: #155DFC;
}

.task_card___amount_num {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .25rem;
}

.task_card___amount_comment {
    font-size: .75rem;
    font-weight: 400;
    color: #8A8FA0;
}