@import url('/assets/CSS/global.css');

.side_nav_container {
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: .0625rem solid #EEF2FF;
    max-width: 16rem;
    max-height: 40rem;
    /* overflow-y: scroll; */
}

._flex {
    display: flex;
    align-items: center;
}

.side_nav_brand {
    position: relative;
    justify-content: space-between;
    padding-bottom: 1rem;

}

.side_nav_brand,
.side_nav__user_info {
    padding: .0625rem 1rem .9rem 1rem;
    border-bottom: 1px solid #EEF2FF;
}

.side_nav_brand__all,
.side_nav__user_info {
    gap: .75rem;
}

.side_nav_brand_logo {
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: #4743F7;
    border-radius: .5rem;
    display: flex;
    
}

.side_nav_brand__title {
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
}

.side_nav__btn {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-radius: .375rem;
    border: none;
}

.side_nav__btn:hover,
.side_nav__btn:focus {
    background-color: #06B6D4;
}

.hidebtn {
    position: absolute;
    right: 1rem;
    display: none;
}

.side_nav__first-letter {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #374FF9;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.side_nav__user_name {
    font-size: .875rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: .5rem;
}

.side_nav__user_email {
    font-size: .75rem;
    font-weight: 400;
}

.side_nav__tabs{
    padding: 1.2rem 1rem 11.375rem 1rem;
    border-bottom: .0625rem solid #EEF2FF;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.side_nav__current-tab{
    padding: .5rem 0 .5rem .75rem;
    gap: .75rem;
    border-radius: .375rem;
}

/* .side_nav__tab-content {
    font-size: .875rem;
    font-weight: 500;
} */

.side_nav__logout-container{
    padding: 1rem 1.75rem;
    gap: .75rem;
}

#logout {
    font-size: .875rem;
    font-weight: 500;
    color: #FF0000;
}

.side_nav__current-tab a{
    text-decoration: none;
    color: #000000;
    font-size: .875rem;
    font-weight: 500;
}

.side_nav__current-tab a:hover, .side_nav__current-tab a.focus {
    color: #fff;    
}

/* expand */
.expand-all {
    transform: scaleX(1.17); 
    transform-origin: left;
}

.container-expanded {
    margin-left: -11rem;
    width: 100%;
    overflow: hidden;
}