@import url('global.css');

._container{
    height: 46.875rem;   /* login 618px */
}

._container__form___buttons button a{
    background-color: transparent;
}

._container__form___buttons button{
background-color: #ffffff;
}

