@import url('global.css');

._container{
    width: 28rem;
   
    margin: 1rem auto;
    /* border: 1px solid; */
    border-radius: .5rem;
    box-shadow: .9375rem .9375rem .9375rem .625rem rgba(0, 0, 0, 0.1), -.9375rem 0px .625rem rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

._container__header{
    text-align: center;
    padding-top: 2.5rem;
    height: 14.125rem;
    width: 100%;
}

._container__header h1{
    font-weight: 700;
    font-size: 1.875rem;
    margin-top: .875rem;
    color: var(--font-color);
}

._container__header h3{
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-font-color);
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

._container__form{
    margin: 1.5rem 1.5rem 4rem 1.5rem;
    width: 25rem;
    height: 30.125rem;

}

._container__form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0rem 1.5rem 4rem 0;
    /* gap: 1.5rem; */

}

._container__form___buttons{
    display: flex;
    color: var(--base-font-color);
    width: 100%;
    height: 2.25rem;
    /* margin: 1.5rem 1.5rem 0rem 1.5rem; */
    /* padding: .3125rem 0.25rem .1875rem 0.25rem; */
    justify-content: base;
    align-content: center;
    border-radius: .75rem;
    background-color: #f3f4f6;
    gap: .75rem;
    
    
}

._container__form___buttons____button{
    border: none;
    width: 12.25rem;
    height: 1.8125rem;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--base-font-color);
    font-weight: 500;
    font-size: .875rem;
    gap: .375rem;
    margin: .3125rem 0.25rem .1875rem 0.25rem;
    
}

#login{
    margin: .3125rem 0.25rem .1875rem 0.25rem;
    background-color: #f3f4f6;
    border-radius: .5rem;
    cursor: pointer;
}

#signup{
    margin: .3125rem 0.25rem .1875rem 0.25rem;
    background-color: #ffffff;
    border-radius: .5rem;
    box-shadow: 0px .125rem .25rem rgba(10, 15, 26, 0.05);
    cursor: pointer;
}

/* ._container__form___buttons____button :active{
    margin: .3125rem 0.25rem .1875rem 0.25rem;
    background-color: #ffffff;
    border-radius: .5rem;
} */


._container__form___buttons____button a{
    text-decoration: none;
    color: var(--base-font-color);
}

._container__form___input_label{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    position: relative;
    margin-bottom: .875rem;
}

._container__form___input_label label{
    height: .875rem;
    color: var(--form-title-font-color);
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

._container_form__form_entry{
    margin-top: 2.1875rem;
}

._container__form___input_label input{
    width: 24.75rem;
    height: 3rem;
    border: 2px solid #f3f4f6;
    border-radius: .75rem;
    margin: 0 auto;
    padding-left: 3rem;
    font-size: .875rem;
    font-weight: 400;
    color: var(--base-font-color);
    display: flex;
    /* box-sizing: border-box; */
}

._container__form___input_label input:hover{
    border: 2px solid var(--blue-font-color);
}

._container__form___input_label input:focus{
    border: 2px solid var(--blue-font-color);
    outline: none;
}

._container__form___input_label img{
    position: absolute;
   left: .75rem;
    top: 2.9rem;
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

#password_paragraph{
    margin-top: .5rem;
    margin-bottom: 0rem;
    width: 100%;
    height: 1rem;
    font-size: .75rem;
    color: var(--footer-font-color);
}

._container__form___big_buttons{
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    /* margin-top: 1.25rem; */
    gap: .75rem;
}

._container__form___big_buttons button{
    width: 12.25rem;
    height: 3rem;
    border: none;
    border-radius: .75rem;
    font-size: .875rem;
    font-weight: 500;
   color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    margin-top: .5rem;
}

._container__form___big_buttons button:hover{
    color: #ffffff;
}

/* ._container__form___big_buttons button svg{
    /* filter: brightness(0) invert(1); */


 
   

.gold_button{
 background: linear-gradient(to right,#fcc500, #F1B200);
}

.gold_button:hover{
    background: linear-gradient(to right,#EEAE00,#D28900);
    color: #000000;
}


.error-message {
  color: #ffffff;
  background-color: #101828;
  font-size: 0.9em;
  position: absolute;
  top: 4.0em;
}