@import url('reset.css');

:root{
    --font-color: #101828;
    --main-font-color: #4a5565;
    --base-font-color: #1E293B;
    --form-title-font-color: #364153;
    --blue-font-color: #155dfc;
    --footer-font-color: #6a7282;
    --background-color: #FFFFFFCC;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-optical-sizing: auto;
    box-sizing: border-box;
    width: 100vw;

}

footer{
    margin-top: 0rem;
    justify-self: center;
}

#terms{
    font-size: .75rem;
    color: var(--footer-font-color);
    text-align: start;
    
    padding: 0;
    height: 1rem;
    margin: 1.5rem 0 0 0;
}

#terms a{
    text-decoration: none;
    color: var(--blue-font-color);
}

#terms a:hover{
    text-decoration: underline;
}

footer p{
    font-size: .875rem;
    color: var(--footer-font-color);
    text-align: start;
    padding-left: .5rem;
    /* position: absolute; */
    width: 25rem;
   height: 1rem;
   margin: 0 0 9rem 0;
   
}