@import url('global.css');

._container{
    width: 28rem;
    height: 45.75rem;   /* login 618px */
    margin: 1rem auto;
    /* border: 1px solid; */
    border-radius: .5rem;
    box-shadow: .9375rem .9375rem .9375rem .625rem rgba(0, 0, 0, 0.1), -.9375rem 0px .625rem rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

._container__header{
    text-align: center;
    padding-top: 2.5rem;
    height: 14.125rem;
    width: 100%;
}

._container__header h1{
    font-weight: 700;
    font-size: 1.875rem;
    margin-top: .875rem;
    color: var(--font-color);
}

._container__header h3{
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-font-color);
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

._container__form{
    margin-top: 1.5rem;
    width: 100%;
    height: 30.125rem;

}
._container__form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0rem 1.5rem 4rem 1.5rem;
    gap: 1.5rem;

}

._container__form___buttons{
    display: flex;
    color: var(--base-font-color);
    width: 25rem;
    height: 2.25rem;
    padding: .3125rem 0.25rem .1875rem 0.25rem;
    
    
}

border: none;
    width: 50%;
    height: 1.8125rem;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    gap: .375rem;