@import url(/assets/CSS/reset.css);

.main {  
    max-width: 1365px;
    height: 100vh;
    background-color: #F8F9FA;
    display: flex;
    box-sizing: border-box;
    max-height: 720px;
    align-items: self-start;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main__sidenav {
    width: 16rem;
    position: fixed;
}

.main__contents{
    background-color: #F8F9FA;
    max-width: 69.375rem;
    margin-left: 16rem;
    width: 100%;
}

.main-tasks__contents{
    padding: 2rem;
}