@import url('global.css');

._container{
    height: 45.75rem;   /* login 618px */
}

._container__form___buttons button a{
    background-color: #f3f4f6;
}

._container__form___buttons button{
background-color: #ffffff;
}

